<div *ngIf="loggedIn" class="container" (keydown)="handleKeyPress($event)">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-brand btn btn-link" (click)="loadCategories('live')" tabindex="0">Live Channels</button>
      <button class="navbar-brand btn btn-link" (click)="loadCategories('vod')" tabindex="0">VOD</button>
      <button class="navbar-brand btn btn-link" (click)="loadCategories('series')" tabindex="0">Series</button>
    </div>
  </nav>
  
  <div class="row">
    <div class="col-md-3 sidebar">
      <div class="card mb-4" *ngFor="let category of categories" tabindex="0">
        <div class="card-body" (click)="getStreams(category.category_id)">
          <h5 class="card-title">{{ category.category_name }}</h5>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div id="myContainer" class="col-md-12 video-container position-relative">
          <div class="col-md-12 episode-container position-absolute show-hide-list" *ngIf="showEpisodes" [class.hide-controls]="hideControls">
            <div *ngIf="selectedSeriesInfo">
              <h2>{{ selectedSeriesInfo.name }} - Episodes</h2>
              <div class="episode-list">
                <div *ngFor="let episode of selectedSeasonEpisodes" 
                [class.active-episode]="currentEpisode?.id === episode.id"
                [class.episode-active]="currentEpisode?.id === episode.id" 
                (click)="currentEpisode?.id !== episode.id && playEpisode(episode)" 
                class="episode-item" 
                tabindex="0">
             {{ extractEpisodeInfo(episode.title) }}
           </div>
           
              </div>
            </div>
          </div>
          <button *ngIf="currentCategoryType === 'series'" class="btn position-absolute show-hide-btn" [class.hide-controls]="hideControls" (click)="toggleEpisodes()" tabindex="0">
            <i class="fas fa-list-ul"></i>
          </button>          
          
          <video id="myVideo" ></video>
          <button class="btn position-absolute play-pause-btn" [class.hide-controls]="hideControls" (click)="togglePlayPause()" tabindex="0" [ngClass]="{'playing': isPlaying, 'paused': !isPlaying}">
            <i *ngIf="isPlaying" class="fas fa-pause"></i>
            <i *ngIf="!isPlaying" class="fas fa-play"></i>
          </button>
        <button class="btn position-absolute play-pause-btn-small" [class.hide-controls]="hideControls" (click)="togglePlayPause()" tabindex="0" [ngClass]="{'playing': isPlaying, 'paused': !isPlaying}">
          <i *ngIf="isPlaying" class="fas fa-pause"></i>
          <i *ngIf="!isPlaying" class="fas fa-play"></i>
      </button>
      <button class="btn position-absolute full-screen-btn-small" [class.hide-controls]="hideControls" (click)="toggleFullScreen()" tabindex="0" [ngClass]="{'playing': isfullScreen, 'paused': !isfullScreen}">
        <i *ngIf="!isfullScreen" class="fas fa-expand"></i>
        <i *ngIf="isfullScreen" class="fas fa-compress"></i>
      </button>
      
        
        </div> 
<div *ngIf="isfullScreen" class="fullscreen-controls">
  <button class="btn play-pause-btn" (click)="togglePlayPause()" tabindex="0" [ngClass]="{'playing': isPlaying, 'paused': !isPlaying}">
    <i *ngIf="isPlaying" class="fas fa-pause"></i>
    <i *ngIf="!isPlaying" class="fas fa-play"></i>
  </button>
  <button class="btn play-pause-btn-small" (click)="togglePlayPause()" tabindex="0" [ngClass]="{'playing': isPlaying, 'paused': !isPlaying}">
    <i *ngIf="isPlaying" class="fas fa-pause"></i>
    <i *ngIf="!isPlaying" class="fas fa-play"></i>
  </button>
  <button class="btn full-screen-btn-small" (click)="toggleFullScreen()" tabindex="0" [ngClass]="{'playing': isfullScreen, 'paused': !isfullScreen}">
    <i *ngIf="!isfullScreen" class="fas fa-expand"></i>
    <i *ngIf="isfullScreen" class="fas fa-compress"></i>
  </button>
</div>

                      
      </div>

      <div *ngIf="channels.length > 0 && !selectedSeriesInfo">
        <h2>Channels</h2>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let channel of paginatedChannels" tabindex="0">
            <div class="card card-channel" (click)="handleCardClick(channel)">
              <img class="card-img-top" [src]="currentCategoryType != 'series' ? channel.stream_icon : channel.cover" alt="{{ channel.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ channel.name }}</h5>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-secondary mt-4" (click)="selectedCategoryId = null" tabindex="0">Back to Categories</button>
        <div class="pagination mt-4">
          <button class="btn btn-outline-primary" (click)="previousPage()" [disabled]="currentPage === 1" tabindex="0">Previous</button>
          <span> Page {{ currentPage }} </span>
          <button class="btn btn-outline-primary" (click)="nextPage()" [disabled]="currentPage * channelsPerPage >= channels.length" tabindex="0">Next</button>
        </div>
      </div>

      <div *ngIf="selectedSeriesInfo">
        <div *ngIf="!selectedSeasonEpisodes.length">
          <h2>{{ selectedSeriesInfo.name }} - Seasons</h2>
          <div class="row">
            <div class="col-md-4" *ngFor="let season of selectedSeriesInfo.seasons" tabindex="0">
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title">Season {{ season.season_number }}</h5>
                  <button class="btn btn-primary" (click)="getEpisodes(season.season_number)">Show Episodes</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="selectedSeasonEpisodes.length > 0">
          <h2>Episodes - Season {{ selectedSeasonNumber }}</h2>
          <div class="row">
            <div class="col-md-4" *ngFor="let episode of paginatedEpisodes" tabindex="0">
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title">{{ extractEpisodeInfo(episode.title) }}</h5>
                  <button class="btn btn-primary" (click)="playEpisode(episode)">Play Episode</button>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination mt-4">
            <button class="btn btn-outline-primary" (click)="previousEpisodePage()" [disabled]="episodeCurrentPage === 1" tabindex="0">Previous</button>
            <span> Page {{ episodeCurrentPage }} </span>
            <button class="btn btn-outline-primary" (click)="nextEpisodePage()" [disabled]="episodeCurrentPage * episodesPerPage >= selectedSeasonEpisodes.length" tabindex="0">Next</button>
          </div>
          <button class="btn btn-secondary mt-4" (click)="selectedSeasonEpisodes = []" tabindex="0">Back to Seasons</button>
        </div>
      </div>
    </div>
  </div>
</div>
